@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.container{
  margin: 0 auto;
  width:60%;
  transform: translate(-20%);
  justify-content: center;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
  font-size: 90px;
  color: aliceblue;
  text-align: center;
}
.container div{
 
  position: relative;
}

.suffix{
  position: absolute;
  right: -10px;
}